# --- C++ generated .gitignore ---

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# --- Project-specific ignores ---

# Ignore build directory (Cmake output)
/build/
# Ignore build output directory (executables, apks, etc.)
/build_output/

# Ignore vs code settings
/.vscode/

# Ignore android-project as we have an init script that copies it for us
/android-project/